p {
	color: black;
	text-decoration: bold;
	font-size: 1.5em;
}
body {
	background-color: #FFFF80;
	font-family: "Poiret One", "century gothic", verdana;
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-size: 2em;
	text-align: center;
	text-decoration: underline;
	color: black;
	border: 5px;
	background-color: #E79BC6;
	border-style: dashed;
	border-color:black;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 5%;
	padding-top:4%;
}


nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
	width: 150px;
	background-color: #E79BC6;
	position: fixed;
	border: dashed;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	transition: 1s;
}

nav ul li a:hover{
	background-color: #4A192E;
	color: #FFFF80;
}

.active{
	background-color: #7D69BD;
	color: black;
}

h2{
	text-decoration:none;
	font-style: italic;
	color: #7D69BD;
}

h3{
	text-decoration: underline;
	font-size: 1.45em;
}

ul{
	list-style-type: none;
	font-size: 1.5em;
}

#mainContent{
	margin-left: 150px;
	padding-left: 10px;
	margin-right: 75px;
	text-transform: none;
}

.centerMe{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img{
	min-width: 25%;
	max-width: 50%;
	height: auto;
}

@media screen and (max-width: 800px){
	nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
	width: 100%;
	height: auto;
	background-color: #E79BC6;
	position: fixed;
	border: dashed;
	}

	nav ul li{
		float:left;
	}
	
	nav ul li a {
	display: block;
	text-decoration: none;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right:15px;
	padding-left: 15px;
	}
	
	#mainContent{
		margin-left: 5%;
		margin-right: 5%;
		padding-top: 10%;
	}
}