p {
	color: black;
}
body {
	background-color: aqua;
	font-family: "century gothic", verdana;
	font-weight: normal;
	font-style: normal;
}
h1 {
	text-align: center;
	text-decoration: underline;
	border: 5px;
	background-color: yellow;
	border-style: dashed;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 5%;
	padding-top:5%;
}


nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
	width: 150px;
	background-color: yellow;
	position: fixed;
	border: dashed;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
}

nav ul li a:hover{
	background-color: black;
	color: yellow;
}

.active{
	background-color: aqua;
	color: black;
}

h2{
	text-decoration:none;
	font-style: italic;
	color: navy;
}

h3{
	text-decoration: underline;
}

ul{
	list-style-type: none;
}

#mainContent{
	margin-left: 150px;
	padding-left: 10px;
	margin-right: 75px;
	text-transform: none;
}

.centerMe{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 800px){
	nav{
		display:none;
	}
	#mainContent{
		margin-left: 5%;
		margin-right: 5%;
	}
}