p {
	color: #44328E;
}
body {
	background-color: #FFFF80;
	font-family: "century gothic", verdana;
	font-weight: normal;
	font-style: normal;
}
h1 {
	font-size: 2em;
	text-align: center;
	text-decoration: underline;
	border: 5px;
	background-color: #E79BC6;
	border-style: dashed;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 5%;
	padding-top:4%;
}


nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
	width: 150px;
	background-color: #E79BC6;
	position: fixed;
	border: dashed;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
}

nav ul li a:hover{
	background-color: black;
	color: #FFFF80;
}

.active{
	background-color: #7D69BD;
	color: black;
}

h2{
	text-decoration:none;
	font-style: italic;
	color: #7D69BD;
}

h3{
	text-decoration: underline;
}

ul{
	list-style-type: none;
}



#mainContent{
	margin-left: 150px;
	padding-left: 10px;
	margin-right: 75px;
	text-transform: none;
}

.centerMe{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img{
	min-width: 20%;
	max-width: 55%;
	height: auto;
}

@media screen and (max-width: 800px){
	nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
	width: 100%;
	height: auto;
	background-color: #E79BC6;
	position: fixed;
	border: dashed;
	}

	nav ul li{
		float:left;
	}
	
	nav ul li a {
	display: block;
	text-decoration: none;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right:15px;
	padding-left: 15px;
	}
	
	#mainContent{
		margin-left: 5%;
		margin-right: 5%;
		padding-top: 7%;
	}
}